<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title</title>
        <link href="~/Content/semantic.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- Header -->
        <div>
            <div class="ui fixed inverted teal menu navbar grid">
                <div class="ui centered row">
                    <div class="ui middle aligned column">
                        <h3 class="ui inverted header">Pranzo eProject super cool</h3>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="ui raised segment" id="mainContent"  style="min-width:600px; margin-left:4px; margin-right:4px;">
            @RenderBody()
        </div>

        <!-- Footer -->
       

        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/semantic.min.js"></script>
        @RenderSection("scripts", required: false)

        <!-- Global utility scripts -->
        <script>
            function loadAndGo(caller) {
                $(caller).addClass('disabled loading');
                window.location.href = $(caller).attr('data-href');
            }
            function loadAndSubmit(caller, form) {
                $(caller).addClass('disabled loading');
                $(form).submit();
            }
            function loadAndSubmit(caller, form, extraName, extraValue) {
                $(caller).addClass('disabled loading');
                $(form).append('<input type="hidden" name="' + extraName + '" value="'+ extraValue +'" />');
                $(form).submit();
            }
        </script>
    </body>
</html>