<connectionStrings>
  <add name="carpooltoolEntities" connectionString="metadata=res://*/Models.PranzoModel.csdl|res://*/Models.PranzoModel.ssdl|res://*/Models.PranzoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mastert.database.windows.net;initial catalog=carpooltool;persist security info=True;user id=Master_T;password=Grappa.01;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>